 
  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="https://maps.app.goo.gl/qNnzMFjyAPk1pB9v8">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="https://accounts.google.com/b/0/AddMailService">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  matrisula99@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              Madrasah Aliyah Trisula adalah lembaga pendidikan setingkat SMA di bawah naungan LP Ma'arif NU Sutojayan, Blitar, yang didirikan pada 16 Juli 1989. Didirikan sebagai alternatif pendidikan setingkat SMA bagi lulusan SMP. Terletak di Kelurahan Kalipang, Kecamatan Sutojayan, Kabupaten Blitar, kota Lodoyo.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="{{ url_for('home') }}">
                Home
              </a>
              <a class="" href="{{ url_for('about') }}">
                About
              </a>
              <a class="" href="{{ url_for('service') }}">
                Analysis
              </a>
              <a class="" href="{{ url_for('team') }}">
                Team
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">Kelompok 4</a>
      </p>
    </div>
  </section>
  <!-- footer section -->
